{% unless paginator.current_tag %}  
  {% assign page_next = page.next.url %}
  {% assign page_prev = page.previous.url %}
{% endunless %}

<div class="left-col">
    <p class="date">{{ page.date | date_to_string }}</p>
    {% include pager.html %}   
</div><!--/.left-col-->
    
<div class="right-col">
  <h1><a href="/{{ page.permalink }}">{{ page.title }}</a></h1>
  {{ content }}         
</div><!--/.right-col-->          

<div class="clear"></div>

<div class="left-col">            
  {% include pager.html %}   
</div><!--/.left-col-->