{% unless paginator.current_tag %}  
  {% assign page_next = page.next.url %}
  {% assign page_prev = page.previous.url %}
{% endunless %}

<div class="left-col">
    <p class="date">{{ page.date | date_to_string }}</p>
    {% include pager.html %}   
</div><!--/.left-col-->
    
<div class="right-col">
  <h1><a href="/{{ page.permalink }}">{{ page.title }}</a></h1>
  {{ content }}         
</div><!--/.right-col-->          

<div class="clear"></div>

<div class="left-col">            
  {% include pager.html %}   
</div><!--/.left-col-->

<div class="right-col">
  <ul class="social-buttons cf">
    <!-- <li><a href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url={Permalink}" class="socialite googleplus" data-size="medium" data-href="{Permalink}" rel="nofollow" target="_blank"><span>Partager sur Google+</span></a></li> -->
    <li><a href="http://www.facebook.com/sharer.php?u={{ page.permalink }}" class="socialite facebook" data-href="{{ page.permalink }}" data-send="false" data-layout="button_count" data-width="60" data-show-faces="false" rel="nofollow" target="_blank"><span>Partager sur Facebook</span></a></li>
    <li><a href="https://twitter.com/share" class="twitter-share-button" data-via="davidmaylis" data-lang="en" data-hashtags="BonjourGem" data-text="{{ page.title }}">Partager sur Twitter</a></li>
  </ul>       
</div><!--/.right-col-->